<section class="intro">
  <h1>Escola Técnica de Brasília</h1>
  <p class="intro-subtitulo">
    Cursos técnicos profissionalizantes de nível médio.
  </p>
</section>
<section class="cursos">
  <div class="row-container">
    <button class="curso-card active">
      <i class="material-symbols-rounded">computer</i>
      Informática
    </button>
    <button class="curso-card">
      <i class="material-symbols-rounded">build</i>
      Eletrônica
    </button>
    <button class="curso-card">
      <i class="material-symbols-rounded">electric_bolt</i>
      Eletrotécnica
    </button>
    <button class="curso-card">
      <i class="material-symbols-rounded">cell_tower</i>
      Telecomunicações
    </button>
  </div>
</section>
<div class="desc-wrapper">
  <section class="curso-desc">
    <div class="curso-info" id="informatica">
      <h2>Técnico em Informática</h2>
      <div class="row-container">
        <span class="desc">
          <i class="material-symbols-rounded">computer</i>
          <h3>Área de Atuação</h3>
          <p>
            O mercado de trabalho é bastante amplo, seja no Comércio, Indústria,
            Empresas Públicas e Privadas, Escritórios particulares
            (Contabilidade, Advocacia); etc. Permite atuar como autônomo e
            empreendedor.
          </p>
        </span>
        <span class="lista">
          <i class="material-symbols-rounded">verified</i>
          <h3>Habilitações</h3>
          <ol>
            <li>Auxiliar técnico em Informática (1 semestre);</li>
            <li>Assistente Técnico I em Informática (2 semestres);</li>
            <li>Assistente Técnico II em Informática (3 semestres);</li>
            <li>Técnico em Informática (4 semestres + estágio).</li>
          </ol>
        </span>
      </div>
      <hr
        style="
          width: 95%;
          border-radius: 50px;
          border: none;
          height: 2px;
          background-color: var(--grey-light);
        "
      />

      <div class="row-container">
        <span class="desc">
          <i class="material-symbols-rounded">person_add</i>
          <h3>Inscrições</h3>
          <p>
            As vagas da Escola Técnica de Brasília são ofertadas por meio de
            sorteio eletrônico, elaborado e realizado sob a responsabilidade da
            Secretaria de Educação do DF no endereço eletrônico
            http://www.se.df.gov.br/. O processo ocorre a cada semestre e todas
            as informações necessárias são divulgadas nos sites oficiais do
            governo e nas nossas redes sociais.
          </p>
        </span>
        <span class="lista">
          <i class="material-symbols-rounded">engineering</i>
          <h3>Principais Atividades</h3>
          <ul>
            <li>Desenvolvimento e manutenção de programas;</li>
            <li>Manutenção de equipamentos de informática; e</li>
            <li>Operação de microcomputador.</li>
          </ul>
        </span>
      </div>

      <div class="btn-container-insta">
        <a>Mais informações<i class="material-symbols-rounded">arrow_right_alt</i></a>
        <a>Instagram ETB<img src="assets/images/home/instagram.svg"></a>
      </div>
    </div>
  </section>
</div>
