<header>
    <div class="logo">
        <img src="assets/images/home/logo.png" />
    </div>
</header>
<nav>
    <div class="nav-links">
        <a>Início<i class="material-symbols-rounded">keyboard_arrow_down</i></a>
        <a>Escola<i class="material-symbols-rounded">keyboard_arrow_down</i></a>
        <a>Cursos Técnicos<i class="material-symbols-rounded">keyboard_arrow_down</i></a>
        <a>Projetos e Workshops</a>
        <a>Estágios<i class="material-symbols-rounded">keyboard_arrow_down</i></a>
        <a>Contato</a>
    </div>
    <div class="intranet-links">
        <a href><i class="material-symbols-rounded">public</i>Intranet</a>
        <a href><i class="material-symbols-rounded">desktop_windows</i>ETB Online</a>
    </div>
</nav>
